// colors
// https://colorhunt.co/palette/3c486bf0f0f0f9d949f45050
$navy: #3c486b; // blue
$red: #c12100;
$orange: #f45050;
$yellow: #f9d949;
$yellow-light: hsl(from #{$yellow} h s calc(l + 6));
$green: #2baf8f;
$green-lighter: #8fdeca;
$green-light: #cff1e8;
// $green2: #5ec79d,
// $orange2: #fd9a02,
// $red2-dark: #441207;
// $red2: #c12100,
// $yellow2: #feba57;
$background-lighter: #fbfdff;
$background: #f4f6ff;
// $background-darker: hsl(from #{$background} h s calc(l - 3));
$background-darker: oklch(from #{$background} calc(l - 0.01) c h);
