@use './colors' as *;

.docs-color-palette {
    display: 'block';
    display: flex;
    gap: 1px;
    margin: 0;
    padding: 0 !important;
    li {
        width: 4rem;
        list-style: none;
        margin: 0 !important;
        padding: 0;
    }
    li:after {
        position: relative;
        display: inline-block;
        content: attr(data-color);
        left: 50%;
        transform: translateX(-50%);
        color: #f4f6ff;
        font-size: 0.8rem;
    }
    li[data-color='red'] {
        background-color: $red;
    }
    li[data-color='orange'] {
        background-color: $orange;
    }
    li[data-color='yellow'] {
        background-color: $yellow;
    }
    li[data-color='green'] {
        background-color: $green;
    }
    li[data-color='navy'] {
        background-color: $navy;
    }
}
