// styles for mdx documents
// main entry point: body.sb-show-main, #storybook-docs
@use './colors.scss' as *;

@media (max-width: 430px) {
    html {
        font-size: 14px;
    }
}

// MDX theme
#storybook-docs {
    // main
    --docs-primary: #{$red};
    --docs-secondary: #{$yellow};
    --docs-tertiary: #{$green};
    --docs-quaternary: #{$navy};
    // by usage
    --docs-action: #{$orange}; // color used for clickable elements
    --docs-highlight: #{$yellow}; // color to highlight an section
    --docs-highlight-surface: #{$green}; // color to highligh a surface
    --docs-highlight-decoration: #{$navy}; // for blockquote color element besides highlight surface
    --docs-highlight-text: #fff; // text color on highlighted surface
    // by type
    --docs-header: #{$red}; // titles
    --docs-header-secondary: #{$orange}; // secondary or subtitles
    --docs-bg: #{$background};
    --docs-bg-canvas: #{$background-darker};
    // components
    --docs-tab-highlight: var(--docs-bg-canvas);
    --docs-tab-action: #{$navy};
}

// MDX page layout
#storybook-docs {
    .sbdocs.sbdocs-wrapper {
        padding-left: 0;
        padding-right: 0;

        .sbdocs.sbdocs-content {
            max-width: none;

            > * {
                margin-left: auto;
                margin-right: auto;
                max-width: 960px;
                width: 100%;

                @media (max-width: 1000px) {
                    margin-left: 20px;
                    margin-right: 20px;
                    max-width: none;
                    width: auto;
                }

                @media (max-width: 430px) {
                    margin-left: 8px;
                    margin-right: 8px;
                    max-width: none;
                    width: auto;
                }
            }
        }
    }
}

// Change background color of MDX documents
#storybook-docs {
    background-color: var(--docs-bg);
    .sbdocs.sbdocs-wrapper {
        background-color: inherit;
    }
}

#storybook-docs .rje-docs--fullwidth {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: none !important;
}

// Introduction Header
#storybook-docs .rje-docs-header {
    position: relative;
    margin-top: -4rem;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid $red;
    overflow: hidden;
    background: $navy;

    .rje-docs-header__labels {
        position: absolute;
        left: calc(50% + 0.5rem);
        transform: translateX(-50%);
        top: 0.5rem;
        max-width: 1000px;
        width: 100%;
        display: flex;
        gap: 8px;
    }

    img {
        width: 100%;
        max-width: 400px;
    }

    .rje-docs-title {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--docs-secondary);
        border-top: 1px solid $green;
        border-bottom: 4px solid $orange;
        font-weight: 600;
    }

    // temp custom header for package
    .rje-docs-title__main {
        marrgin-top: 1rem;
        position: relative;
        background-color: var(--docs-action);
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin: 0 !important;
        font-size: 1.5rem;
        color: #fff;
        border-top: 1px solid $navy;
    }

    .rje-docs-title__label {
        font-size: 0.9rem;
        line-height: 1;
        display: block;
    }

    .rje-docs-title__name {
        font-size: 2rem;
    }
}

.sbdocs.sbdocs-content {
    blockquote {
        padding: 0;
        border-left: 8px solid var(--docs-highlight-decoration);
        font-size: 1.25em;

        p {
            margin: 0;
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            font-size: 1.2em;
            line-height: 1.4;
            background: var(--docs-highlight-surface);
            color: var(--docs-highlight-text);
        }

        a {
            color: var(--docs-highlight-text);
        }
    }

    h1:not(:first-child) {
        margin-top: 1.5em;
    }

    h1:not(.mantine-Title-root) {
        font-size: 2em;
        // color: var(--docs-header);
        color: $navy;
    }

    h2:not(.mantine-Title-root) {
        font-size: 1.6rem;
        font-weight: 200;
        text-transform: uppercase;
        border-bottom: 0;
        margin-top: 1.5em;
        color: var(--docs-header-secondary);
    }

    h2:not(.mantine-Title-root) + p {
        margin-top: 0;
    }

    h3:not(.mantine-Title-root) {
        font-size: 1.3rem;
        padding-top: 1.25em;
        color: var(--docs-header-secondary);
    }

    h4 {
        font-size: 1.1em;
    }

    a {
        color: var(--docs-action);
        &:visited {
            color: oklch(from var(--docs-action) calc(l - 0.2) c h);
        }
        &:hover {
            color: oklch(from var(--docs-action) calc(l + 0.1) c h);
        }
        code {
            font-size: inherit;
        }
    }

    & > p,
    & > ul li,
    & > div > ul li, // tabs
    & > ol li,
    & > a {
        // kept selectors specific to not leak into .rje-form
        font-size: 1.1rem;
    }
}

/* custom codeblock (wrapped) */
#storybook-docs .docblock-source {
    background-color: var(--docs-bg-canvas);
    border-color: var(--docs-highlight);
    border-radius: 0;
    box-shadow: none;
    filter: brightness(1.01);
    margin: 0;

    /* code */
    .prismjs {
        font-size: 0.8rem;
        line-height: 1.4;
    }

    /* copy button */
    button {
        border-color: var(--docs-highlight);
    }
}

/* inline code line */
#storybook-docs {
    code {
        font-size: 0.8em;
        background: $yellow;
        border: none;
        padding: 0.25em;
        text-transform: initial !important;
        white-space: break-spaces;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        code {
            font-weight: 400;
            border: 1px solid $red;
            background: var(--docs-header-secondary);
            color: #fff;
        }
    }

    h1 {
        code {
            border: 1px solid $red;
            background: var(--docs-header);
            color: #fff;
        }
    }

    a {
        code {
            color: #fff;
            background: var(--docs-action);
        }
    }

    blockquote {
        code {
            color: #333;
            background: $yellow;
            border: 1px solid $green;
        }
    }
}

// inline story blocks
#storybook-docs .inline.sbdocs.sbdocs-preview {
    box-shadow: none; /* drop shadow of story box */
    border: none;
    overflow: visible;

    /* set preview box to full width */
    margin: 0;
    .docs-story > :first-child {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 0.25em;
        padding-left: 1rem;
        padding-right: 1rem;
        height: auto;
        background-color: var(--docs-bg-canvas);

        .innerZoomElementWrapper > * {
            border: none;
        }
    }
    .docs-story > :last-child {
        background-color: var(--docs-bg-canvas);
        border: 1px solid var(--docs-highlight);
    }
    /* -- preview box full width */

    .docs-story {
        padding: 0;
        overflow: visible; /* contents expand outside of story box */
    }

    .docs-story > :first-child {
        z-index: 2; /* contents may be above *show code* action */
        overflow: visible;
    }

    .docblock-code-toggle {
        border: none;
        border-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background: transparent;
        color: #777;
    }

    .rje-form {
        --mantine-h1-font-size: 1.5em;

        code {
            background: transparent;
        }
    }
}

@supports (-webkit-touch-callout: none) {
    #storybook-docs .code.code--inline .docblock-source .prismjs {
        font-size: 0.7rem !important; /* on mobile this still does not apply */
    }
}

// preview actions "show code" below inline code block
#storybook-docs .sbdocs-preview-actions {
    margin: 0;
    & > div {
        justify-content: right;
    }
}
