@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './lib/widgets/arraywidget/array-widget';
@import './lib/widgets/numberwidget/number-widget';
@import './lib/widgets/filewidget/file-widget';
@import './lib/widgets/objectwidget/object-widget';
@import './lib/widgets/selectwidget/select-widget';
@import './lib/widgets/selectoneofwidget/select-oneof';
@import './lib/widgets/navigationwidget/navigation-widget';

.rje-form {
    .rje-section-header .rje-widget-action--menu {
        padding: 0;
    }

    .rje-form--parent {
        width: 100%;
    }

    .rje-input-decorator {
        width: -moz-available;
        width: -webkit-fill-available;
    }

    input[type='text'],
    input[type='number'] {
        width: 100%;
    }

    .rje-field__header {
        padding-bottom: em(16);
    }

    .rje-object__property ~ .rje-object__property {
        padding-top: em(24);
    }

    & > .rje-field--parent:first-child > .rje-field__header {
        padding-top: 0;
    }

    /* layout: inline headers should have more padding to above content then below */
    & ~ .rje-form--parent > .rje-header {
        padding-top: 2em;
    }
}
