.rje-array__table {
    --item-border-color: var(--mantine-color-gray-4);
    --input-margin-top: calc(var(--mantine-spacing-xs) / 2);
    --input-margin-bottom: calc(var(--mantine-spacing-xs) / 2);
    margin-top: var(--input-margin-top);
    margin-bottom: var(--input-margin-bottom);

    tr:first-child {
        border-top: 1px dashed var(--item-border-color);
    }

    tr {
        border-bottom: 1px dashed var(--item-border-color);
    }

    // tr[data-striped]:nth-of-type(even) {
    //     background-color: var(--mantine-color-gray-1);
    // }
}
