div.mdx-docs-header {
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    p {
        font-size: inherit;
        margin: 0;
    }

    div.mdx-docs-header__breadcrumbs {
        font-size: inherit;
        font-weight: bold;
        color: var(--docs-tertiary);
    }

    h1.mdx-docs-header__title {
        font-size: inherit;
        // margin-top: 0.5rem !important;
    }
}
