@use './styles/adjustments';

@font-face {
    font-family: Icon;
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v88/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2)
        format(woff2);
}

.rje-drag__handle {
    cursor: pointer;
    user-select: none;
}

.sortable-chosen {
    background: var(--mantine-primary-color-0) !important;
}

.sortable-ghost {
    background: var(--mantine-primary-color-0) !important;
    opacity: 0.05;
}
