@import '../packages/rje-widgets/src/index';
@import '../packages/rje-code-widgets/src/index';

@font-face {
    font-family: Icon;
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v88/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2)
        format(woff2);
}

/* add support rje theme variables */
#storybook-docs {
    --rje-font-family: Inter, sans-serif;
    --rje-color-light-primary: 31, 101, 141;
    --rje-color-light-secondary: 9, 66, 98;
    --rje-color-light-text: 7, 23, 32;
    --rje-color-dark-primary: 50, 133, 180;
    --rje-color-dark-secondary: 145, 192, 218;
    --rje-color-dark-text: 235, 240, 241;
}

/* markdown styling */
.sbdocs.sbdocs-content {
    max-width: 48em;

    blockquote p {
        font-size: 1.2em;
        line-height: 1.4;
    }

    h2 {
        font-weight: 200;
        text-transform: uppercase;
        border-bottom: 0;
        margin-top: 1.5em;
    }

    h2 + p {
        margin-top: 0;
    }

    h3 {
        font-size: 1em;
        padding-top: 1.25em;

        code {
            border: none;
            margin: 0;
            background: transparent;
            padding: 0;
        }
    }
}

.sbdocs.sbdocs-preview {
    box-shadow: none; /* drop shadow of story box */
}

/* move global left and right padding to first elements in contents */
#storybook-docs .sbdocs-wrapper {
    padding-left: 0;
    padding-right: 0;
    .sbdocs-content > * {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* custom codeblock (wrapped) */
#storybook-docs .code.code--inline {
    &,
    pre {
        margin: 0;
    }

    + .inline.sbdocs.sbdocs-preview {
        margin-top: 1em;
    }

    .docblock-source {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        .prismjs {
            font-size: 0.9rem;
            line-height: 1.5;
        }
    }
}

@supports (-webkit-touch-callout: none) {
    #storybook-docs .code.code--inline .docblock-source .prismjs {
        font-size: 0.7rem !important; /* on mobile this still does not apply */
    }
}

/* inline story blocks have no visual separation from content */
#storybook-docs .inline.sbdocs.sbdocs-preview {
    box-shadow: none; /* drop shadow of story box */
    border: none;
    overflow-y: visible;

    /* set preview box to full width */
    margin: 0;
    .docs-story > :first-child {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 0.25em;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: hsla(203, 50%, 30%, 0.05);

        .innerZoomElementWrapper > * {
            border: none;
        }
    }
    .docs-story > :last-child {
        background-color: hsla(203, 50%, 30%, 0.05);
    }
    /* -- preview box full width */

    .docs-story {
        overflow-y: visible; /* contents expand outside of story box */
    }

    .docs-story > :first-child {
        z-index: 2; /* contents may be above *show code* action */
        overflow-y: visible;
    }

    .docs-story > :last-child {
        /* .docblock-code-toggle wrapper div */
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    .docblock-code-toggle {
        border: none;
        border-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background: transparent;
        color: #777;
    }
}

/* remove fixed height on mdx-canvas
.sbdocs-preview .docs-story > div > div[scale] {
    height: auto;
} */

.rje-theme-decorator {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex-grow: 1;
        box-sizing: border-box;
        min-width: 50%;
    }

    .rje-theme--light {
        padding: 16px;
        background: rgba(243, 243, 241, 1);
    }

    .rje-theme--dark {
        padding: 16px;
        background: rgba(26, 27, 25, 1);
    }

    .story-columns {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .story-columns ~ .story-columns {
        padding-top: 8px;
    }
}
