@use '../packages/rje-code-widgets/src/index';
@use './styles/colors.scss' as *;
@use './styles/mdx.scss';
@use './styles/stories.scss';

@font-face {
    font-family: Icon;
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v88/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2)
        format(woff2);
}

// remove rje-form style overrides in mdx documents
#storybook-docs .rje-form {
    div {
        // we have to override font-family as this is being enforced by storybook
        font-family: Inter, sans-serif;
    }

    code {
        // overwrite leaking mdx styles
        background: transparent;
    }
}

// rje style adjustments in mdx documents
#storybook-docs .rje-form {
    --mantine-color-disabled: #{$background-lighter}; // highlight inputs (focus)
    --mantine-color-error: #{$red}; // highlight inputs (focus)
    --mantine-font-family-headings: Inter, sans-serif;
    --mantine-h1-font-weight: 400;
    --mantine-h2-font-size: 1rem;
    --mantine-h2-font-weight: 400;
    --mantine-primary-color-filled-hover: #{$yellow};
    --mantine-primary-color-filled: #{$green}; // highlight inputs (focus)

    --rje-action-color: #{$green};

    input {
        --checkbox-color: #{$green};
    }

    .rje-array__table {
        --table-striped-color: transparent;
    }
}

div[data-portal='true'] {
    --menu-item-color: #{$green};
    --menu-item-hover: #{$green-light};
}

// rje theme overrides in .stories
#storybook-root .rje-form {
}
