@use '../packages/rje-code-widgets/src/index' as *;
@use './storybook-mdx.scss';

@font-face {
    font-family: Icon;
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v88/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2)
        format(woff2);
}

/* add support rje theme variables */
#storybook-docs {
    --rje-font-family: Inter, sans-serif;
    --rje-color-light-primary: 31, 101, 141;
    --rje-color-light-secondary: 9, 66, 98;
    --rje-color-light-text: 7, 23, 32;
    --rje-color-dark-primary: 50, 133, 180;
    --rje-color-dark-secondary: 145, 192, 218;
    --rje-color-dark-text: 235, 240, 241;

    .rje-form {
        --mantine-h1-font-weight: 400;
        --mantine-h2-font-weight: 400;
        // --rje-action-color: #eb5b00;
        // --rje-action-color: #3c486b;
        --rje-action-color: #2baf8f;
    }
}

// sidebar
#storybook-explorer-menu {
    // background: red;
    .sidebar-item[data-selected='true'] {
        background-color: var(--docs-highlight-secondary);
    }
}

/*
    Stories
*/
.sbdocs.sbdocs-preview {
    box-shadow: none; /* drop shadow of story box */
}

@supports (-webkit-touch-callout: none) {
    #storybook-docs .code.code--inline .docblock-source .prismjs {
        font-size: 0.7rem !important; /* on mobile this still does not apply */
    }
}

.rje-theme-decorator {
    display: flex;
    flex-wrap: wrap;

    & > * {
        flex-grow: 1;
        box-sizing: border-box;
        min-width: 50%;
    }

    .rje-theme--light {
        padding: 16px;
        background: rgba(243, 243, 241, 1);
    }

    .rje-theme--dark {
        padding: 16px;
        background: rgba(26, 27, 25, 1);
    }

    .story-columns {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .story-columns ~ .story-columns {
        padding-top: 8px;
    }
}
