@import 'semantic-ui-css/semantic.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

#test-app {
    // max-width: 720px;
    position: relative;
    margin: 0 auto;
}

#editor {
    padding: 12px;
    display: flex;
    justify-content: space-evenly;

    .ui.form {
        width: 100%;
        max-width: 560px;
    }
}

.ed-array-item__handle {
    width: 24px;
    background: #fafafa;
    cursor: move;
}

.ed-oneof {
    padding: 0 12px 12px 12px;
    background: #fafafa;
    border: 1px solid #efefef;
    margin-top: 48px;
}

.ed-oneof__selection {
    position: relative; // z-index
    z-index: 1;
    margin: 0 !important;
    transform: translateY(-50%);
}

.description {
    color: #999;
    font-size: 12px;
    font-style: italic;
    margin-top: -12px;

    .disabled > & {
        opacity: 0.5;
    }
}

/* OBJECT */

// padding between object property editors
[data-type='object'] > [data-type] ~ [data-type] {
    padding-top: 24px;
}

/* ARRAY */

// array header with + button
[data-type='array'] > h2,
[data-type='array'] > h3,
[data-type='array'] > h4 {
    display: flex;
    justify-content: space-between;
}

[data-type='array-item'] {
    display: flex;
    & > [data-type] {
        flex-grow: 1;
        & .MuiFormControl-root {
            width: 100%;
        }
    }
}

[data-type='array-item'] > * {
    margin-left: 12px;
    margin-bottom: 12px;
}

.ed-array-item__actions {
    display: flex;
    flex-direction: column;
}

// array items (without move actions)
[data-type='array-item'] > [data-type='number'],
[data-type='array-item'] > [data-type='string'],
[data-type='array-item'] > [data-type='object'],
[data-type='array-item'] > [data-type='array'] {
    padding: 12px;
    background: #fafafa;
    border: 1px solid #efefef;
}
